/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Document */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 30px;
  z-index: 20;
  vertical-align: center;
  position: fixed;
  top: 0;
}
header h1 {
  color: #0669de;
  text-align: center;
  vertical-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
}
header .zoeira {
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-size: 15px;
  margin-top: -17px;
  line-height: 30px;
}

h2 {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

a:focus {
  outline: 0;
}

p, a {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

main {
  margin-top: 110px;
}

header {
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 30px;
  z-index: 20;
  vertical-align: center;
  position: fixed;
  top: 0;
}
header h1 {
  color: #0669de;
  text-align: center;
  vertical-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
}
header .zoeira {
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-size: 15px;
  margin-top: -17px;
  line-height: 30px;
}

h3 {
  font: arial;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  float: left;
}

#lista {
  list-style-type: none;
}
#lista li {
  padding: 20px 30px 0;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-top: 1px solid #F5F5F5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#lista li .preco {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #009900;
  margin-bottom: 20px;
  text-align: right;
}

.pedido-online-wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: right;
  font-weight: 400;
}
.pedido-online-wrapper .pedido-online-link {
  color: #ffffff;
  background: #0669de;
  padding: 10px 20px;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.pedido-online-wrapper .pedido-online-link:hover {
  cursor: pointer;
  background: #0a62c7;
  text-decoration: none;
}

.telefone {
  display: block;
}
