@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Document */
/* line 20, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/_reset.scss */
ol, ul, li {
  list-style: none;
}

/* line 39, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 6, ../sass/listagem.scss */
header {
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 30px;
  z-index: 20;
  vertical-align: center;
}
/* line 15, ../sass/listagem.scss */
header h1 {
  color: #0669de;
  text-align: center;
  vertical-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
}

/* line 32, ../sass/listagem.scss */
p {
  margin-bottom: 10px;
}

/* line 36, ../sass/listagem.scss */
h2 {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 49, ../sass/listagem.scss */
h3 {
  font: arial;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-right: 120px;
  float: left;
}

/* line 60, ../sass/listagem.scss */
#lista {
  list-style-type: none;
}
/* line 64, ../sass/listagem.scss */
#lista li {
  padding: 20px 0 20px 30px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-top: 1px solid #F5F5F5;
}
/* line 71, ../sass/listagem.scss */
#lista li .preco {
  font-family: Roboto, arial;
  font-weight: 500;
  color: #d2d2d2;
  margin-bottom: 20px;
}
