@import "compass";
@import 'reset';
@import 'quentinha-ui';

#cadastro {
    margin: 0 auto;
    padding: 20px 30px;
    border-top: 1px solid #F5F5F5;

    label, input {
        display: block;
        font-family: $font-padrao;
    }

    label {
        margin-top: 20px;
        padding: 5px 0;
    }

    input {
        font-size: 18px;
        width: 100%;
        padding: 5px 10px;
        font-weight: 400;
    }

    select {
        font-size: 16px;
        margin-top: 10px;
    }

    .enviar {
        @include border-radius (4px);
        margin-top: 20px;
        background: $cor-primaria;
        border: none;
        padding: 20px;
        color: #fff;

        &:hover {
            cursor: pointer;
            background: #0a62c7;
            text-decoration: none;

        }
    }

}

#empresa {
  width: 100%;
  border: 0;
  border-radius: 0;
  height: 44px;
}

input[type="text"] {
    @include input-placeholder {
        color: #ddd;
    }
}

p.obs {
  font-size: 14px;
  margin-top: 20px;
}
