@import "compass";
@import 'reset';
@import 'quentinha-ui';

header {
	width: 100%;

	background-color: #F5F5F5;
	margin-bottom: 30px;
	z-index: 20;
	vertical-align:center;
    position: fixed;
    top: 0;


	h1 {
		color: $cor-primaria;
		text-align: center;
		vertical-align: center;
		font-family: $font-padrao;
		font-size: 25px;

		font-weight: 700;
		text-transform: uppercase;
		line-height: 50px;



	}

    .zoeira {
        font-family: 'Parisienne', cursive;
        text-align: center;
        font-size: 15px;
        margin-top: -17px;
        line-height: 30px;
    }
}


h3 {
	font: arial;
	font-size: 25px;
	font-family: $font-padrao;
	font-weight: 500;
	float: left;

}


#lista {
	list-style-type: none;


	li {
		padding: 20px 30px 0;
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		border-top: 1px solid #F5F5F5;
        @include box-sizing(border-box);

		.preco {

            font-family: $font-padrao;
            font-weight: 500;
            color: #009900;
            margin-bottom: 20px;
            text-align: right;
		}


	}
}

.pedido-online-wrapper {
    font-family: $font-padrao;
    font-size: 12px;
    font-weight: 400;

    .pedido-online-link {
        color: #ffffff;
        background: $cor-primaria;
        padding: 10px 20px;
        text-decoration: none;
        @include border-radius (4px);
        margin: 0px;
        display: inline-block;

        &:hover {
            cursor: pointer;
            background: #0a62c7;
            text-decoration: none;
        }
    }
}

.telefone {
    display: block;
}





