<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quentinha</title>

    <link href="css/cardapio.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,500,300,700,400' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
</head>

<body>
<header>
    <h1>Quentinhas</h1>
    <p class= "zoeira">as a service</p>
    <div id= "configuracao"></div>
</header>

<script id="template-form-pedido" type="text/x-handlebars-template">
    Tamanho<br>
    <p>
        <select name='tamanho'>
            <% _.each(tamanhos, function(valor, tamanho) { %>
                <option value='<%= tamanho %>'><%= tamanho %> - <%= valor %></option>
            <% }); %>
        </select>
    </p>
    
    <% _.each(grupos, function(itens, nome) { %>
        <p>
            <strong><%= nome %></strong><br>
            <% _.each(itens, function(item) { %>
                <label>
                    <input name='opcao' type='checkbox' value='<%= item %>' /><%= item %>
                </label><br>
            <% }); %>
        </p>
    <% }); %>

    <p>
        <input name='dados' type='hidden' value='Nome do usuario' />
        <input name='email' type='text' value='email@corp.globo.com' />
        <input type='submit' value="Enviar" class="enviar" />
    </p>
</script>

<main>
    <form id='form-pedido' method='post' action='http://localhost:3000/enviar-email'>
    </form>
</main>

<script type="text/javascript">
    callback = function(context) {
        var source = $("#template-form-pedido").html();
        var template = _.template(source);
        var html = template(context);
        
        $('#form-pedido').html(html);
    }
</script>
<script src="http://localhost:3000/ultimo-cardapio.js"></script>

</body>

</html>